

<header class="my-5" >

           <a class="nav-link fw-bold py-1 px-2 text-white" href=""> <h1 class="float-md-start mb-0">YOUR LOGO</h1></a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-2 text-white" aria-current="page" href="">HOME</a>
                    <a class="nav-link fw-bold py-1 px-2 text-white" href="">CONTENT</a>
           <a class="nav-link fw-bold py-1 px-2 text-white" href="">CONTACT</a>
                </nav>
</header>
